#pragma code_page(65001)

#include "resource.h"

IDI_APP_ICON ICON "notepad-classic.ico"
1 24 "../notepad-classic.manifest"
#include "locales/en-US.rc"
#include "locales/es-ES.rc"
#include "locales/de-DE.rc"
#include "locales/fr-FR.rc"
#include "locales/pt-BR.rc"
#include "locales/zh-CN.rc"
#include "locales/ja-JP.rc"
#include "locales/ko-KR.rc"
#include "locales/hi-IN.rc"
